<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">

    <link rel="stylesheet" href="../../../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../../../assets/css/splash.css">

    <script src="../../../../renderer.js"></script>
    <script src="../../../../node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="../../../../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <title>Kob</title>
  </head>
  <body>
    <header></header>
    
    <div class="centre-container">
      <div class="image-wrapper">
        <img id="splash_logo" src="../../../../resources/kob.png" alt="kob-icon"/>
        <img id="splash_logotype" src="../../../../resources/kob_text.png" alt="kob-logotype"/>

        <div class="d-flex justify-content-center">
          <div class="spinner-border text-secondary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
    </div>
  </body>
</html>